body {
    background-color: #eee;
}

#game_container {
    margin: 100px auto;
    text-align: center;
}
#memory {
    display: none;
}
.image {
    border: 1px solid black;
}
.row {
    margin-bottom: 30px;
}

.em {
    height: 50px;
    width: 50px;
    opacity: 0;
}
#start_game {
    margin-bottom: 50px;
}